@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
/* * {
  outline: 1px solid blue;
} */
button,
h1,
h2,
h3,
h4,
h5.h6,
p,
span {
  font-family: "Jost", sans-serif !important;
}

p {
  font-size: 1.2rem !important;
}

.vibeFont {
  font-family: "Great Vibes", cursive !important;
}

.layoutMargin {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.imgHover:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container-dots {
  display: flex;
  text-align: center;
  align-items: center;
}

.contact-form-hero-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 3px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #cea261;
  width: 1.875rem;
  height: 0.75rem;
  border-radius: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  text-rendering: auto;
  color: #cea261 !important;
}

.videoResponsiveService {
  width: 540px;
  height: 540px;
  object-fit: cover;
  border-radius: 20px;
}

.custom-swier-slider {
  width: 300px !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.elementor-item-active::after {
  bottom: 0;
  content: "";
  background-color: #00000021;
  height: 3px;
  width: 100%;
  left: 0;
  z-index: 2;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-title {
  -webkit-text-stroke-color: #80a0c2;
  -webkit-text-stroke-width: 1px;
}

.Gallery {
  left: calc(
    (
        100% / var(--columns) -
          (var(--hgap) * (var(--columns) - 1) / var(--columns))
      ) * var(--column) + (var(--hgap) * var(--column))
  );
  position: absolute;
  width: calc(
    100% / var(--columns) -
      (var(--hgap) * (var(--columns) - 1) / var(--columns))
  );
  top: calc(var(--percent-height) + (var(--items-in-column) * var(--vgap)));
}

/* snackbar */

/* .MuiSnackbar-root:nth-child(n) {
  --margin-multiplier: 100px;

  top: calc(var(--margin-multiplier) * n);
} */

/* loader */

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #f41953;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #f41953;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
.loading-text {
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.header-logo {
  position: relative !important;
  margin-top: -7px !important;
}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  display: flex;
  font-size: 50px;
  font-weight: 300;
}
.typewriter h1 {
  margin-left: 6px;
  font-weight: 600;
  color: #000;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 10.5s steps(120, end), step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.Typewriter__cursor {
  display: none !important;
}

/* Strikethrough */

/* .typewriter-text span {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.typewriter-text span:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.6);
  margin-top: -0.7em;
  background: black;
  animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* Keyframes for initial animation */

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.typewriter-text span {
  position: relative;
}
.typewriter-text span::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  animation-name: strike;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-animation {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeout-animation {
  animation: fadeout 2s;
  -webkit-animation: fadeout 2s;
  -moz-animation: fadeout 2s;
  -o-animation: fadeout 2s;
  -ms-animation: fadeout 2s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink-animation {
  animation-delay: 10s;
  animation: blink 0.7s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* The typewriter cursor effect */

/* image upload css */
.uploadBtnWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.uploadBtnWrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* .reset-form */
.reset-form .password-reveal::-ms-reveal,
.password-reveal::-ms-clear {
  display: none;
}
.password-reveal {
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 600px) {
  .videoResponsiveService {
    width: 100%;
    height: 280px;
  }

  .imgResGuest {
    width: 100%;
    height: 280px !important;
  }
  .imgResAbout {
    width: 100%;
    height: 300px !important;
  }
  .custom-swier-slider {
    width: 100% !important;
  }
  .bottomPaper {
    bottom: -10px !important;
  }

  .header-logo {
    width: 180px !important;
    margin-right: 0 !important;
    position: relative !important;
    margin-top: -7px !important;
  }

  .contact-form-hero-section {
    flex-direction: column;
    gap: 0px;
  }
}
